{% extends 'layout.html.twig' %}

{% block title %}Loïc Sapone - Développeur web{% endblock %}
{% block meta_description %}Loïc Sapone, développeur web basé à Grenoble - associé chez Mezcalito, compétant en backend et devops{% endblock %}
{% block meta_keywords %}loïc,sapone,developer,scop,grenoble,backend,devops,symfony{% endblock %}

{% block content %}
    <header class="flex items-center h-screen">
        <div class="flex-col items-center max-w-4xl mx-auto px-4 md:px-6 py-24">
            <h1 class="text-6xl md:text-7xl lg:text-8xl font-arvo font-bold tracking-tighter w-spacing-2 md:w-spacing-4 lg:w-spacing-8">loïc sapone</h1>
            <span class="mt-4 text-3xl md:text-4xl lg:text-5xl">développeur web</span>
        </div>
    </header>

    <nav class="fixed hidden lg:block bottom-0 left-6 xl:left-12 z-10">
        <ul class="social flex flex-col">
            <li class="flex justify-center p-1">
                <a href="https://github.com/loicsapone" class="p-1 rounded-full focus:outline-none focus:ring-1 focus:ring-gray-200" target="_blank" rel="noopener" title="Voir mon profil Github (nouvelle fenêtre)">
                    {{ source('svg/github.svg') }}
                </a>
            </li>
            <li class="flex justify-center p-1">
                <a href="https://connect.symfony.com/profile/loic_sapone" class="p-1 rounded-full focus:outline-none focus:ring-1 focus:ring-gray-200" target="_blank" rel="noopener" title="Voir mon profil Symfony Connect (nouvelle fenêtre)">
                    {{ source('svg/symfony.svg') }}
                </a>
            </li>
            <li class="flex justify-center p-1">
                <a href="https://twitter.com/loicsapone" class="p-1 rounded-full focus:outline-none focus:ring-1 focus:ring-gray-200" target="_blank" rel="noopener" title="Voir mon profil Twitter (nouvelle fenêtre)">
                    {{ source('svg/twitter.svg') }}
                </a>
            </li>
            <li class="flex justify-center p-1">
                <a href="https://www.linkedin.com/in/loicsapone/" class="p-1 rounded-full focus:outline-none focus:ring-1 focus:ring-gray-200" target="_blank" rel="noopener" title="Voir mon profil Linkedin (nouvelle fenêtre)">
                    {{ source('svg/linkedin.svg') }}
                </a>
            </li>
        </ul>
    </nav>

    <main>
        <section data-controller="intersect" class="flex items-center relative overflow-hidden">
            <div class="flex flex-col items-center max-w-4xl mx-auto px-4 md:px-6 py-20">
                <h2 class="flex justify-between w-full mb-8">
                    <span class="text-3xl md:text-4xl lg:text-5xl font-bold">Qui suis-je ?</span>
                </h2>

                <div class="w-full lg:text-lg">
                    <p class="mb-6">
                        Salut, je m'appelle <strong>Loïc Sapone</strong> et suis développeur web depuis bientôt 10 ans à Grenoble.<br>
                        Passionné par le <strong>développement backend et le devops</strong>, je réfléchis et créé des applications et sites web sur-mesure.
                    </p>

                    <p class="mb-6">
                        Accueilli dès mes débuts à l'agence grenobloise <a href="https://www.mezcalito.fr/" class="link" target="_blank" rel="noopener" title="Voir le site de Mezcalito (nouvelle fenêtre)">Mezcalito</a>,
                        j'ai eu l'opportunité de découvrir le monde des <strong>SCOP</strong> et de devenir <strong>associé</strong> de la manufacture.
                        Je travaille sur des projets institutionnels (<a href="http://fcgrugby.com/" class="link" target="_blank" rel="noopener" title="Voir le site du FCG Rugby (nouvelle fenêtre)">FC Grenoble Rugby</a>)
                        et e-commerce (<a href="https://location-ski.sport2000.fr/" class="link" target="_blank" rel="noopener" title="Voir le site de location de ski de Sport 2000 (nouvelle fenêtre)">Location de ski Sport 2000</a>).
                    </p>

                    <p class="mb-6">
                        J'ai également pu mettre à profit mes compétences sur <strong>PrestaShop</strong> en donnant des cours aux étudiants du <a href="http://real-mmi-grenoble.fr/" class="link" target="_blank" rel="noopener" title="Voir le site du DUT MMI de Grenoble (nouvelle fenêtre)">DUT MMI de Grenoble</a> pendant quatre ans.<br>
                        L'objectif : <strong>découvrir l'UX</strong> des sites e-commerce, <strong>réaliser les maquettes</strong> d'une boutique fictive et <strong>créer le thème</strong> PrestaShop correspondant.
                    </p>
                </div>
            </div>
        </section>

        {% if repositories is not empty %}
            <section data-controller="intersect" class="flex items-center relative overflow-hidden">
                <div class="absolute top-40 md:top-20 -right-32">
                    <img class="w-60 md:w-72 xl:w-96 h-60 md:h-72 xl:h-96 opacity-10" src="{{ asset('build/images/background-github.webp') }}" alt="Github logo" loading="lazy" width="384" height="384" />
                </div>

                <div class="flex flex-col items-center max-w-4xl mx-auto px-4 md:px-6 py-20">
                    <h2 class="flex justify-between w-full mb-8">
                        <span class="text-3xl md:text-4xl lg:text-5xl font-bold">Mes projets open source</span>
                    </h2>

                    <nav class="grid grid-cols-6 gap-6">
                        {% for repository in repositories %}
                            <a class="col-span-6 md:col-span-3 flex flex-col px-4 py-6 bg-primary-light rounded-md border border-gray-500 focus:outline-none focus:ring-2 focus:ring-gray-200 focus:border-transparent" href="{{ repository.url }}" rel="noopener" target="_blank" title="Voir le projet {{ repository.name }} (nouvelle fenêtre)">
                                <div class="flex justify-between">
                                    <h3 class="font-bold">{{ repository.name }}</h3>
                                    {% if repository.forked %}<small class="text-xs italic">forked</small>{% endif %}
                                </div>

                                <span class="flex flex-1 mt-2 text-gray-200">{{ repository.description }}</span>

                                <time class="flex items-center justify-end mt-1 text-gray-400" datetime="{{ repository.created_at|date('Y-m-d H:i:s') }}">
                                    <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    </svg>

                                    <span class="ml-2 text-sm">{{ repository.created_at|format_date(pattern='dd LLLL Y', locale='fr') }}</span>
                                </time>
                            </a>
                        {% endfor %}
                    </nav>
                </div>
            </section>
        {% endif %}

        <section data-controller="intersect" class="relative overflow-hidden">
            <div class="absolute top-40 md:top-20 -left-32">
                <img class="w-60 md:w-72 xl:w-96 h-60 md:h-72 xl:h-96 opacity-10" src="{{ asset('build/images/background-email.webp') }}" alt="Github logo" loading="lazy" width="384" height="384" />
            </div>

            <div class="flex flex-col items-center max-w-4xl mx-auto px-4 md:px-6 py-20">
                <h2 class="flex items-center w-full mb-8">
                    <span class="text-3xl md:text-4xl lg:text-5xl font-bold">On reste en contact</span>
                </h2>

                {% form_theme form 'tailwind_2_layout.html.twig' %}
                {{ form_start(form, { 'action': path('contact_action'), 'method': 'POST', 'attr': { 'data-controller': 'contact', 'data-action': 'contact#onSubmit', 'class': 'w-full' } }) }}
                    <div class="grid grid-cols-6 gap-6 ">
                        {{ form_row(form.name, {
                            row_class: 'col-span-6 sm:col-span-3',
                            label_class: 'font-bold text-gray-200',
                            widget_class: 'mt-1 w-full bg-primary-light rounded-md border border-gray-500 focus:outline-none focus:ring-2 focus:ring-gray-200 focus:border-transparent'
                        }) }}

                        {{ form_row(form.email, {
                            row_class: 'col-span-6 sm:col-span-3',
                            label_class: 'font-bold text-gray-200',
                            widget_class: 'mt-1 w-full bg-primary-light rounded-md border border-gray-500 focus:outline-none focus:ring-2 focus:ring-gray-200 focus:border-transparent'
                        }) }}

                        {{ form_row(form.message, {
                            row_class: 'col-span-6',
                            label_class: 'font-bold text-gray-200',
                            widget_class: 'mt-1 w-full bg-primary-light rounded-md border border-gray-500 focus:outline-none focus:ring-2 focus:ring-gray-200 focus:border-transparent',
                            attr: {
                                cols: 30,
                                rows: 10
                            }
                        }) }}
                    </div>

                    <div class="flex justify-start w-full mt-1">
                        <button type="submit" class="inline-flex justify-center py-2 px-4 bg-primary hover:bg-primary-light rounded-md border border-gray-500">
                            Envoyer
                        </button>
                    </div>
                {{ form_end(form) }}
            </div>
        </section>
    </main>
{% endblock %}
