{% import 'macro/messages.html.twig' as messages %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Loïc Sapone - Développeur web</title>
        <meta name="description" content="Développeur web basé à Grenoble - associé chez Mezcalito, compétant en backend et devops">

        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('/site.webmanifest') }}">
        <link rel="mask-icon" href="{{ asset('/safari-pinned-tab.svg') }}" color="#0a192f">
        <meta name="msapplication-TileColor" content="#0a192f">
        <meta name="theme-color" content="#0a192f">

        <meta property="og:title" content="Loïc Sapone - Développeur web">
        <meta property="og:description" content="Développeur web basé à Grenoble - associé chez Mezcalito, compétant en backend et devops">
        <meta property="og:locale" content="fr_FR">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Loïc Sapone - Développeur web">
        <meta property="og:image" content="/og.png">
        <meta property="og:url" content="https://loic-sapone.fr/">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image:alt" content="Loïc Sapone - Développeur web">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-B5HENKJMD3"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-B5HENKJMD3');
        </script>
    </head>
    <body class="min-h-screen bg-primary text-white">
        {% block body %}{% endblock %}

        {% if app.request.hasPreviousSession %}
            {% for message in app.flashes('success') %}
                {{ messages.success(message) }}
            {% endfor %}

            {% for message in app.flashes('error') %}
                {{ messages.error(message) }}
            {% endfor %}
        {% endif %}
    </body>
</html>
