<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Loïc Sapone - Développeur web</title>
        <meta name="description" content="Développeur web basé à Grenoble - associé chez Mezcalito, compétant en backend et devops">

        <link rel="preload" href="{{ preload(asset('build/app.css'), { as: 'style' }) }}" as="style">
        <link rel="preload" href="{{ preload(asset('build/app.js'), { as: 'script' }) }}" as="script">

        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('/site.webmanifest') }}">
        <link rel="mask-icon" href="{{ asset('/safari-pinned-tab.svg') }}" color="#0a192f">
        <meta name="msapplication-TileColor" content="#0a192f">
        <meta name="theme-color" content="#0a192f">

        <meta property="og:title" content="Loïc Sapone - Développeur web">
        <meta property="og:description" content="Développeur web basé à Grenoble - associé chez Mezcalito, compétant en backend et devops">
        <meta property="og:locale" content="fr_FR">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Loïc Sapone - Développeur web">
        <meta property="og:image" content="https://loic-sapone.fr/og.png">
        <meta property="og:url" content="https://loic-sapone.fr/">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image:alt" content="Loïc Sapone - Développeur web">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "Person",
                "name": "Loïc Sapone",
                "image": "https://loic-sapone.fr/og.png",
                "description": "Développeur web basé à Grenoble - associé chez Mezcalito, compétant en backend et devops",
                "email": "mailto:loic@sapone.fr",
                "jobTitle": "Web Developer",
                "url": "https://loic-sapone.fr"
            }
        </script>
    </head>

    <body class="min-h-screen bg-primary text-white">
        <header class="flex items-center h-screen">
            <div class="flex-col items-center max-w-4xl mx-auto px-4 md:px-6 py-24">
                <h1 class="text-6xl md:text-7xl lg:text-8xl font-arvo font-bold tracking-tighter w-spacing-2 md:w-spacing-4 lg:w-spacing-8">loïc sapone</h1>
                <span class="mt-4 text-3xl md:text-4xl lg:text-5xl">développeur web</span>
            </div>
        </header>

        <nav class="fixed hidden lg:block bottom-0 left-6 xl:left-12 z-10">
            <ul class="social flex flex-col">
                <li class="flex justify-center p-1">
                    <a href="https://github.com/loicsapone" class="p-1 rounded-md focus:outline-none focus:ring-1 focus:ring-gray-200" target="_blank" rel="noopener" title="Voir mon profil Github (nouvelle fenêtre)">
                        <svg class="h-6 w-6 text-gray-200" xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <title>GitHub</title>
                            <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
                        </svg>
                    </a>
                </li>
                <li class="flex justify-center p-1">
                    <a href="https://connect.symfony.com/profile/loic_sapone" class="rounded-md focus:outline-none focus:ring-1 focus:ring-gray-200" target="_blank" rel="noopener" title="Voir mon profil Symfony Connect (nouvelle fenêtre)">
                        <svg class="h-8 w-8 fill-current text-gray-200" xmlns="http://www.w3.org/2000/svg" width="257" height="256" viewBox="0 0 256 257">
                            <title>Symfony Connect</title>
                            <path d="M183.706 48.124c-12.986.453-24.32 7.61-32.757 17.51-9.342 10.855-15.557 23.73-20.035 36.872-8.01-6.565-14.19-15.064-27.041-18.77-9.933-2.852-20.366-1.674-29.96 5.474-4.545 3.395-7.676 8.527-9.165 13.351-3.855 12.537 4.053 23.694 7.645 27.7l7.853 8.416c1.619 1.65 5.518 5.955 3.612 12.127-2.06 6.71-10.15 11.055-18.448 8.495-3.706-1.13-9.03-3.891-7.838-7.779.493-1.59 1.631-2.78 2.241-4.155.56-1.181.827-2.067.997-2.587 1.516-4.95-.555-11.39-5.857-13.025-4.946-1.516-10.007-.315-11.969 6.054-2.225 7.235 1.237 20.366 19.783 26.084 21.729 6.676 40.11-5.155 42.717-20.586 1.642-9.665-2.722-16.845-10.717-26.08l-6.514-7.204c-3.946-3.942-5.301-10.661-1.217-15.825 3.446-4.356 8.354-6.215 16.392-4.029 11.733 3.186 16.963 11.327 25.69 17.893-3.603 11.819-5.958 23.682-8.09 34.32l-1.299 7.931c-6.238 32.721-11 50.688-23.375 61.003-2.493 1.773-6.057 4.427-11.429 4.612-2.816.087-3.726-1.85-3.765-2.694-.067-1.977 1.599-2.883 2.706-3.773 1.654-.902 4.155-2.398 3.985-7.191-.18-5.664-4.872-10.575-11.654-10.35-5.08.173-12.823 4.954-12.532 13.705.303 9.039 8.728 15.813 21.43 15.384 6.79-.233 21.952-2.997 36.895-20.76 17.392-20.362 22.256-43.705 25.915-60.79l4.084-22.556c2.269.272 4.695.453 7.334.516 21.661.457 32.496-10.763 32.657-18.924.107-4.939-3.241-9.799-7.928-9.689-3.355.095-7.57 2.328-8.582 6.968-.988 4.552 6.893 8.66.733 12.65-4.376 2.832-12.221 4.828-23.269 3.206l2.009-11.103c4.1-21.055 9.157-46.954 28.341-47.584 1.398-.071 6.514.063 6.633 3.446.035 1.13-.245 1.418-1.568 4.005-1.347 2.017-1.855 3.734-1.792 5.707.185 5.376 4.273 8.909 10.185 8.696 7.916-.256 10.193-7.963 10.063-11.921-.32-9.3-10.122-15.175-23.1-14.75z"/>
                        </svg>
                    </a>
                </li>
                <li class="flex justify-center p-1">
                    <a href="https://twitter.com/loicsapone" class="p-1 rounded-md focus:outline-none focus:ring-1 focus:ring-gray-200" target="_blank" rel="noopener" title="Voir mon profil Twitter (nouvelle fenêtre)">
                        <svg class="h-6 w-6 text-gray-200" xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <title>Twitter</title>
                            <path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path>
                        </svg>
                    </a>
                </li>
                <li class="flex justify-center p-1">
                    <a href="https://www.linkedin.com/in/loicsapone/" class="p-1 rounded-md focus:outline-none focus:ring-1 focus:ring-gray-200" target="_blank" rel="noopener" title="Voir mon profil Linkedin (nouvelle fenêtre)">
                        <svg class="h-6 w-6 text-gray-200" xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <title>LinkedIn</title>
                            <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
                            <rect x="2" y="9" width="4" height="12"></rect>
                            <circle cx="4" cy="4" r="2"></circle>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>

        <main>
            <section data-controller="intersect" class="flex items-center relative overflow-hidden">
                <div class="flex flex-col items-center max-w-4xl mx-auto px-4 md:px-6 py-20">
                    <h2 class="flex justify-between w-full mb-8">
                        <span class="text-3xl md:text-4xl lg:text-5xl font-bold">Qui suis-je ?</span>
                    </h2>

                    <div class="w-full lg:text-lg">
                        <p class="mb-6">
                            Salut, je m'appelle <strong>Loïc Sapone</strong> et suis développeur web depuis bientôt 10 ans à Grenoble.<br>
                            Passionné par le <strong>développement backend et le devops</strong>, je réfléchis et créé des applications et sites web sur-mesure.
                        </p>

                        <p class="mb-6">
                            Accueilli dès mes débuts à l'agence grenobloise <a href="https://www.mezcalito.fr/" class="link" target="_blank" rel="noopener" title="Voir le site de Mezcalito (nouvelle fenêtre)">Mezcalito</a>,
                            j'ai eu l'opportunité de découvrir le monde des <strong>SCOP</strong> et de devenir <strong>associé</strong> de la manufacture.
                            Je travaille sur des projets institutionnels (<a href="http://fcgrugby.com/" class="link" target="_blank" rel="noopener" title="Voir le site du FCG Rugby (nouvelle fenêtre)">FC Grenoble Rugby</a>)
                            et e-commerce (<a href="https://location-ski.sport2000.fr/" class="link" target="_blank" rel="noopener" title="Voir le site de location de ski de Sport 2000 (nouvelle fenêtre)">Location de ski Sport 2000</a>).
                        </p>

                        <p class="mb-6">
                            J'ai également pu mettre à profit mes compétences sur <strong>PrestaShop</strong> en donnant des cours aux étudiants du <a href="http://real-mmi-grenoble.fr/" class="link" target="_blank" rel="noopener" title="Voir le site du DUT MMI de Grenoble (nouvelle fenêtre)">DUT MMI de Grenoble</a> pendant quatre ans.<br>
                            L'objectif : <strong>découvrir l'UX</strong> des sites e-commerce, <strong>réaliser les maquettes</strong> d'une boutique fictive et <strong>créer le thème</strong> PrestaShop correspondant.
                        </p>
                    </div>
                </div>
            </section>

            {% if repositories is not empty %}
            <section data-controller="intersect" class="flex items-center relative overflow-hidden">
                <div class="absolute top-40 md:top-20 -right-32">
                    <img class="w-60 md:w-72 xl:w-96 h-60 md:h-72 xl:h-96 opacity-10" src="{{ asset('build/images/background-github.webp') }}" alt="Github logo" loading="lazy" width="384" height="384" />
                </div>

                <div class="flex flex-col items-center max-w-4xl mx-auto px-4 md:px-6 py-20">
                    <h2 class="flex justify-between w-full mb-8">
                        <span class="text-3xl md:text-4xl lg:text-5xl font-bold">Mes projets open source</span>
                    </h2>

                    <nav class="grid grid-cols-6 gap-6">
                        {% for repository in repositories %}
                            <a class="col-span-6 md:col-span-3 flex flex-col px-4 py-6 bg-primary-light rounded-md border border-gray-500 focus:outline-none focus:ring-2 focus:ring-gray-200 focus:border-transparent" href="{{ repository.url }}" rel="noopener" target="_blank" title="Voir le projet {{ repository.name }} (nouvelle fenêtre)">
                                <div class="flex justify-between">
                                    <h3 class="font-bold">{{ repository.name }}</h3>
                                    {% if repository.forked %}<small class="text-xs italic">forked</small>{% endif %}
                                </div>

                                <span class="flex flex-1 mt-2 text-gray-200">{{ repository.description }}</span>

                                <time class="flex items-center justify-end mt-1 text-gray-400" datetime="{{ repository.created_at|date('Y-m-d H:i:s') }}">
                                    <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    </svg>

                                    <span class="ml-2 text-sm">{{ repository.created_at|format_date(pattern='dd LLLL Y', locale='fr') }}</span>
                                </time>
                            </a>
                        {% endfor %}
                    </nav>
                </div>
            </section>
            {% endif %}

            <section data-controller="intersect" class="relative overflow-hidden">
                <div class="absolute top-40 md:top-20 -left-32">
                    <img class="w-60 md:w-72 xl:w-96 h-60 md:h-72 xl:h-96 opacity-10" src="{{ asset('build/images/background-email.webp') }}" alt="Github logo" loading="lazy" width="384" height="384" />
                </div>

                <div class="flex flex-col items-center max-w-4xl mx-auto px-4 md:px-6 py-20">
                    <h2 class="flex items-center w-full mb-8">
                        <span class="text-3xl md:text-4xl lg:text-5xl font-bold">On reste en contact</span>
                    </h2>

                    {% form_theme form 'tailwind_2_layout.html.twig' %}
                    {{ form_start(form, { 'action': path('contact_action'), 'method': 'POST', 'attr': { 'data-controller': 'contact', 'data-action': 'contact#onSubmit', 'class': 'w-full' } }) }}
                        <div class="grid grid-cols-6 gap-6 ">
                            {{ form_row(form.name, {
                                row_class: 'col-span-6 sm:col-span-3',
                                label_class: 'font-bold text-gray-200',
                                widget_class: 'mt-1 w-full bg-primary-light rounded-md border border-gray-500 focus:outline-none focus:ring-2 focus:ring-gray-200 focus:border-transparent'
                            }) }}

                            {{ form_row(form.email, {
                                row_class: 'col-span-6 sm:col-span-3',
                                label_class: 'font-bold text-gray-200',
                                widget_class: 'mt-1 w-full bg-primary-light rounded-md border border-gray-500 focus:outline-none focus:ring-2 focus:ring-gray-200 focus:border-transparent'
                            }) }}

                            {{ form_row(form.message, {
                                row_class: 'col-span-6',
                                label_class: 'font-bold text-gray-200',
                                widget_class: 'mt-1 w-full bg-primary-light rounded-md border border-gray-500 focus:outline-none focus:ring-2 focus:ring-gray-200 focus:border-transparent',
                                attr: {
                                    cols: 30,
                                    rows: 10
                                }
                            }) }}
                        </div>

                        <div class="flex justify-start w-full mt-1">
                            <button type="submit" class="inline-flex justify-center py-2 px-4 bg-primary hover:bg-primary-light rounded-md border border-gray-500">
                                Envoyer
                            </button>
                        </div>
                    {{ form_end(form) }}
                </div>
            </section>
        </main>

        <footer class="flex justify-center items-center max-w-4xl mx-auto py-8">
            <ul class="lg:hidden flex">
                <li class="flex justify-center p-1">
                    <a href="https://github.com/loicsapone" class="p-1 rounded-md focus:outline-none focus:ring-1 focus:ring-gray-200" target="_blank" rel="noopener" title="Voir mon profil Github (nouvelle fenêtre)">
                        <svg class="h-6 w-6 text-gray-200" xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <title>GitHub</title>
                            <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
                        </svg>
                    </a>
                </li>
                <li class="flex justify-center p-1">
                    <a href="https://connect.symfony.com/profile/loic_sapone" class="rounded-md focus:outline-none focus:ring-1 focus:ring-gray-200" target="_blank" rel="noopener" title="Voir mon profil Symfony Connect (nouvelle fenêtre)">
                        <svg class="h-8 w-8 fill-current text-gray-200" xmlns="http://www.w3.org/2000/svg" width="257" height="256" viewBox="0 0 256 257">
                            <title>Symfony Connect</title>
                            <path d="M183.706 48.124c-12.986.453-24.32 7.61-32.757 17.51-9.342 10.855-15.557 23.73-20.035 36.872-8.01-6.565-14.19-15.064-27.041-18.77-9.933-2.852-20.366-1.674-29.96 5.474-4.545 3.395-7.676 8.527-9.165 13.351-3.855 12.537 4.053 23.694 7.645 27.7l7.853 8.416c1.619 1.65 5.518 5.955 3.612 12.127-2.06 6.71-10.15 11.055-18.448 8.495-3.706-1.13-9.03-3.891-7.838-7.779.493-1.59 1.631-2.78 2.241-4.155.56-1.181.827-2.067.997-2.587 1.516-4.95-.555-11.39-5.857-13.025-4.946-1.516-10.007-.315-11.969 6.054-2.225 7.235 1.237 20.366 19.783 26.084 21.729 6.676 40.11-5.155 42.717-20.586 1.642-9.665-2.722-16.845-10.717-26.08l-6.514-7.204c-3.946-3.942-5.301-10.661-1.217-15.825 3.446-4.356 8.354-6.215 16.392-4.029 11.733 3.186 16.963 11.327 25.69 17.893-3.603 11.819-5.958 23.682-8.09 34.32l-1.299 7.931c-6.238 32.721-11 50.688-23.375 61.003-2.493 1.773-6.057 4.427-11.429 4.612-2.816.087-3.726-1.85-3.765-2.694-.067-1.977 1.599-2.883 2.706-3.773 1.654-.902 4.155-2.398 3.985-7.191-.18-5.664-4.872-10.575-11.654-10.35-5.08.173-12.823 4.954-12.532 13.705.303 9.039 8.728 15.813 21.43 15.384 6.79-.233 21.952-2.997 36.895-20.76 17.392-20.362 22.256-43.705 25.915-60.79l4.084-22.556c2.269.272 4.695.453 7.334.516 21.661.457 32.496-10.763 32.657-18.924.107-4.939-3.241-9.799-7.928-9.689-3.355.095-7.57 2.328-8.582 6.968-.988 4.552 6.893 8.66.733 12.65-4.376 2.832-12.221 4.828-23.269 3.206l2.009-11.103c4.1-21.055 9.157-46.954 28.341-47.584 1.398-.071 6.514.063 6.633 3.446.035 1.13-.245 1.418-1.568 4.005-1.347 2.017-1.855 3.734-1.792 5.707.185 5.376 4.273 8.909 10.185 8.696 7.916-.256 10.193-7.963 10.063-11.921-.32-9.3-10.122-15.175-23.1-14.75z"/>
                        </svg>
                    </a>
                </li>
                <li class="flex justify-center p-1">
                    <a href="https://twitter.com/loicsapone" class="p-1 rounded-md focus:outline-none focus:ring-1 focus:ring-gray-200" target="_blank" rel="noopener" title="Voir mon profil Twitter (nouvelle fenêtre)">
                        <svg class="h-6 w-6 text-gray-200" xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <title>Twitter</title>
                            <path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path>
                        </svg>
                    </a>
                </li>
                <li class="flex justify-center p-1">
                    <a href="https://www.linkedin.com/in/loicsapone/" class="p-1 rounded-md focus:outline-none focus:ring-1 focus:ring-gray-200" target="_blank" rel="noopener" title="Voir mon profil Linkedin (nouvelle fenêtre)">
                        <svg class="h-6 w-6 text-gray-200" xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <title>LinkedIn</title>
                            <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
                            <rect x="2" y="9" width="4" height="12"></rect>
                            <circle cx="4" cy="4" r="2"></circle>
                        </svg>
                    </a>
                </li>
            </ul>
        </footer>

        <div data-controller="alert" data-action="contact:success@window->alert#showSuccess contact:error@window->alert#showError" class="alert hidden fixed inset-x-0 bottom-20 w-5/6 md:w-3/4 lg:w-2/4 mx-auto p-4 bg-gray-500 rounded-lg" role="alert">
            <div class="flex items-center justify-between flex-wrap">
                <div class="w-0 flex-1 flex items-center">
                    <span data-alert-target="svg" class="flex p-2 rounded-lg">
                        <svg data-alert-target="icon" class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true"></svg>
                    </span>

                    <p data-alert-target="message" class="ml-3 font-medium text-white"></p>
                </div>
            </div>
        </div>
    </body>
</html>
