{% macro generate(message, icon_bg, icon_content, ) %}
    <div id="flash-message" class="fixed inset-x-0 bottom-20 w-5/6 md:w-3/4 lg:w-2/4 mx-auto p-4 bg-gray-500 rounded-lg" role="alert" x-data="{ show: true }" x-show="show" x-init="setTimeout(() => show = false, 5000)">
        <div class="flex items-center justify-between flex-wrap">
            <div class="w-0 flex-1 flex items-center">
                <span class="flex p-2 rounded-lg {{ icon_bg }}">
                    <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        {{ icon_content|raw }}
                    </svg>
                </span>

                <p class="ml-3 font-medium text-white">
                    {{ message }}
                </p>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro success(message) %}
    {{ _self.generate(
        message,
        'bg-green-500',
        '<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />'
    ) }}
{% endmacro %}

{% macro error(message) %}
    {{ _self.generate(
        message,
        'bg-red-500',
        '<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />'
    ) }}
{% endmacro %}